.main-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #292828;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 3.2rem;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.profile-img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333235;
  font-weight: 600;
}