/* You can add global styles to this file, and also import other style files */
.card {
  max-width: 300px;
  padding: 20px;
  margin: 40px auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
.card h2 {
  margin-top: 0;
  color: #2c3e50;
}
.card p {
  margin: 8px 0;
  color: #555;
}
.card ul {
  padding-left: 20px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* ...existing code... */
  background-image: url("/assets/images/descarga.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: violet;
}

p {
  color: rgb(110, 211, 244);
  font-size: 28px;
  box-sizing: 0 8px 16px rgba(22, 13, 190, 0.977);
}


img {
  position: fixed; /* Fija la imagen en la pantalla */
  top: 520px; /* Separación desde arriba */
  left: 20px; /* Separación desde la izquierda */
  max-width: 200px; /* Ajusta el tamaño máximo si lo deseas */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Asegura que esté sobre el video de fondo */
}
